/*BUTTONS*/
.btn {
    margin-top: 20px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    background-color: #2cb178;
    border: 2px solid #2cb178;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.btn:link,
.btn:visited {
    background-color: #2cb178; 
    outline: none;
    border: 2px solid #2cb178;
}
.btn:hover,
.btn:active {
    background-color: #00b894;
    border: 2px solid #00b894;
    outline: none;
}

.btn-close {
    position: absolute;
    top: 27px;
    right: 80px;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease;
    opacity: 0;
    border: transparent;
}
.btn-close:active {
    opacity: 1;
}
::-webkit-input-placeholder {
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}
::-moz-input-placeholder {
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}
::-ms-input-placeholder {
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}