
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: white;/*text color*/
    background-color: #212121;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 100;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}
/*****************************************************************************/
/*HEADER*/
header {
    background-image: linear-gradient(rgba(0,0,0,0.5), #000), url(../img/background.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
/*TOP NAV BAR*/
nav {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100px;
    width: 100vw;
    pointer-events: none;
}
.logo {
    position: absolute;
    left: 15vw;
    background: url(../img/Trailfinder-Logo.svg);
    background-size: cover;
    width: 80px;
    height: 100px;
    border-radius: 35px;
    float: left;
    margin-top: 20px;
}
.nav-main {
    margin-top: 60px;
    padding: 10px 20px;
    position: absolute;
    right: 15vw;
    overflow: hidden;
    float: right;
    background-color: #2cb178;
    border-radius: 15px;
}
.nav-main a {
    float: right;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    background: transparent;
    border-radius: 8px;
    transition: background 0.2s;
    padding: 4px 10px;
    pointer-events: all;
}
.nav-main #homeicon {
    background: url(../img/homeicon.png) repeat #2cb178;
    background-size: cover;
    height: 29px;
    width: 29px;
}
.nav-main a:hover,
.nav-main a:active {
    background: #1e7c53;
    border-radius: 8px;
}
.nav-main #homeicon:hover,
.nav-main #homeicon:active {
    background: url(../img/homeicon.png) repeat #1e7c53;
    background-size: cover;
    height: 29px;
    width: 29px;
}
.nav-main .navicon {
    display: none;
    transition: all 0.2s;
}
@media screen and (max-width: 820px) {
    .nav-main a {display: none;}
    .nav-main a.navicon {
        float: right;
        display: block;
        z-index: 10;
    }
    
}
@media screen and (max-width: 820px) {
    .nav-main.responsive {
        z-index: 10;
        position: relative;
        float: right;
        width: 25%;
    }
    .nav-main.responsive a.navicon {
        position: relative;
        right: 0;
        top: 0;
    }
    .nav-main.responsive a {
        float: none;
        display: block;
        text-align: right;
        padding: 1px 5px;
    }
    .nav-main.nav-main.responsive #homeicon {
        position: relative;
        right: 0;
    }
    .nav-main.responsive a.plink {
        margin-top: 1vh;
    }
    
}

/*****************************************************************************/