/*BUTTONS*/
.btn {
    text-align: center;
    width: 35%;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    padding: 10px 10px;
}
.btn.login {/*for login popup*/
    margin: 10px;
}
.short-txt {display: none;}
.btn:link,
.btn:visited {
    font-weight: 300;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background-color: #2cb178; 
    transition: background-color 0.2s;
    outline: none;
    border: 1px solid #2cb178;
}
.btn:hover,
.btn:active {
    background-color: #00b894;
    border: 1px solid #00b894;
    outline: none;
}

.btn-close {
    position: absolute;
    top: 27px;
    right: 80px;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease;
    opacity: 0;
    border: transparent;
}
.btn-close:active {
    opacity: 1;
}
::-webkit-input-placeholder {
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}
::-moz-input-placeholder {
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}
::-ms-input-placeholder {
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
    .full-txt {display: none;}
    .short-txt {display: block;}
}