*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: white;/*text color*/
    background-color: #212121;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 100;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden
}
/*****************************************************************************/
/*HEADER*/
header {
    background-image: linear-gradient(rgba(0,0,0,0.5), #000), url(img/headmap-img.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 0;
}
/*TOP NAV BAR*/
.logo {
    position: absolute;
    left: 15vw;
    z-index: 0;
    background: url(../img/logo.svg);
    background-size: cover;
    background: radial-gradient(ellipse farthest-corner at );
    width: 80px;
    height: 100px;
    float: left;
    margin-top: 20px;
}
.nav-main {
    position: absolute;
    right: 15vw;
    z-index: 2;
    overflow: hidden;
    float: right;
}
.nav-main a {
    margin-top: 60px;
    float: right;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 4px 10px;
}
.nav-main a:hover {
    border-bottom: 2px solid #2cb178;
}
.nav-main.active {
    color: white;
}
.nav-main .icon {
    display: none;
    transition: all 0.2s;
}
@media screen and (max-width: 720px) {
    .nav-main a {display: none;}
    .nav-main a.icon {
        float: right;
        display: block;
        border-bottom: none;
        border-right: 2px solid transparent;
        transition: border-right 0.2s;
    }
    .nav-main a.icon:hover {
        border-right: 2px solid #2cb178;
    }
}
@media screen and (max-width: 720px) {
    .nav-main.responsive {
        position: relative;
        float: right;
        width: 25%;
    }
    .nav-main.responsive a.icon {
        position: relative;
        right: 0;
        top: 0;
    }
    .nav-main.responsive a {
        float: none;
        display: block;
        text-align: right;
        padding: 4px 10px;
        border-bottom: none;
        border-right: 2px solid transparent;
        transition: border-right 0.2s;
    }
    .nav-main.responsive a:hover{
        border-right: 2px solid #2cb178;
    }
    .nav-main.responsive a.plink {
        margin-top: 1vh;
    }  
}
/*****************************************************************************/
/*PROFILE*/
#profile {
    display: block;
    width: 750px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 45px;
    z-index: 1;
  }
  
  #content {
    display: block;
    width: 100%;
    background: #fff;
    padding: 25px 20px;
    padding-bottom: 35px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }
  
  #userphoto {
    display: block;
    float: right;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  #userphoto img {
    display: block;
    padding: 2px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  }
  
  
  /** profile nav links **/
  #profiletabs {
    display: block;
    margin-bottom: 4px;
    height: 50px;
  }
  
  #profiletabs ul { list-style: none; display: block; width: 70%; height: 50px; }
  #profiletabls ul li { float: left; }
  #profiletabs ul li a { 
    display: block;
    float: left;
    padding: 8px 11px;
    font-size: 1.2em;
    font-weight: bold;
    background: #eae8db;
    color: #666;
    margin-right: 7px;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
  }
  #profiletabs ul li a:hover {
    text-decoration: none;
    background: #dad7c2;
    color: #565656;
  }
  
  #profiletabs ul li a.sel {
    background: #fff;
    border-color: #d1cdb5;
  }
  
  
  /** profile content sections **/
  .hidden {
    display: none;
  }
  
  .activity {
    border-bottom: 1px solid #d6d1af;
    padding-bottom: 4px;
  }
  
  .setting {
    display: block;
    font-weight: normal;
    padding: 7px 3px;
    border-top: 1px solid #d6d1af;
    margin-bottom: 5px;
  }
  .setting span {
    float: left; 
    width: 250px;
    font-weight: bold;
  }
  .setting span img { 
    cursor: pointer;
  }
  
  
  #friendslist {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
  }
  #friendslist li { line-height: 30px; }
  #friendslist li a {
    float: left;
    height: 30px;
    padding: 3px 6px;
    line-height: 22px;
     margin-right: 15px;
    border: 1px solid #c9d8b8;
  }
  
  #friendslist li a img { float: left; margin-right: 5px; }
  
  /** clearfix **/
  .clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
  .clearfix { display: inline-block; }
   
  html[xmlns] .clearfix { display: block; }
  * html .clearfix { height: 1%; }