/*LOGIN POPUP*/
.login {
    display: block;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 400px;
    background: rgba(70, 70, 70, 0.651);
    border: 1px solid rgb(104, 104, 104);
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 10px;
    padding: 50px 60px;
    text-align: center;
}
.login div {
    display: inline-block;
}
#Glogo {
    background: url(../general/img/google_g_logo.svg);
    height: 80px;
    width: 78px;
    
}