*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: white;/*text color*/
    background-color: #212121;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 100;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}
/*****************************************************************************/

/*TOP NAV BAR*/
.logo {
    position: absolute;
    left: 15vw;
    z-index: 1;
    background: url(../general%28used%20by%20multiple%20pages%29/img/logo.svg);
    background-size: cover;
    background: radial-gradient(ellipse farthest-corner at );
    width: 80px;
    height: 100px;
    border-radius: 35px;
    float: left;
    margin-top: 20px;
}
.nav-main {
    position: absolute;
    right: 15vw;
    z-index: 1;
    overflow: hidden;
    float: right;
}
.nav-main a {
    margin-top: 60px;
    float: right;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 4px 10px;
}
.nav-main a:hover {
    border-bottom: 2px solid #2cb178;
}

.nav-main .icon {
    display: none;
    transition: all 0.2s;
}
@media screen and (max-width: 720px) {
    .nav-main a {display: none;}
    .nav-main a.icon {
        float: right;
        display: block;
        border-bottom: none;
        border-right: 2px solid transparent;
        transition: border-right 0.2s;
    }
    .nav-main a.icon:hover {
        border-right: 2px solid #2cb178;
    }
}
@media screen and (max-width: 720px) {
    .nav-main.responsive {
        position: relative;
        float: right;
        width: 25%;
    }
    .nav-main.responsive a.icon {
        position: relative;
        right: 0;
        top: 0;
    }
    .nav-main.responsive a {
        float: none;
        display: block;
        text-align: right;
        padding: 4px 10px;
        border-bottom: none;
        border-right: 2px solid transparent;
        transition: border-right 0.2s;
    }
    .nav-main.responsive a:hover{
        border-right: 2px solid #2cb178;
    }
    .nav-main.responsive a.plink {
        margin-top: 1vh;
    }
    
}
/*HEADER*/
header {
    background-image: linear-gradient(rgba(0,0,0,0.5), #000), url(../general%28used%20by%20multiple%20pages%29/img/background.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 0;
}
.headmap-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
}
.headmap-text-box div {
    width: 60%;
}
h1 {
    width: 100%;
    margin: 0;
    color: white;
    font-size: 240%;
    font-weight: 300;
}
/*LOGIN POPUP*/
.login {
    display: none;
}
.login.active {
    display: block;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 500px;
    width: 400px;
    background: rgba(70, 70, 70, 0.651);
    border: 1px solid rgb(104, 104, 104);
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 10px;
    padding: 50px 60px;
}
.login-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-box div {
    width: 100%;
    margin: 10px;
}
.login-box input {
    width: 100%;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 10px;
    outline: none;
    background: transparent;
    color: white;
    font-size: 100%;
    padding: 10px 20px;
}
.btn.login {
    margin: 10px;
}
.plink.logout { 
    display: none;
}
.plink.logout.active {
    display: inline-block
}
/*CLEARABLE SEARCH INPUT*/
.input {
    display: inline-block; 
    position: relative; 
    height: 45px;
}
.clearableinput {
    font-size: 100%;
    width: 100%;
    border: 1px solid rgb(104, 104, 104);
    background: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    color: white;
} 
.clearableinput input[type=text] {
    position: relative;
    margin-right: 10px;
    width: 100%;
    background: transparent;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 100%;
    font-weight: 300;
    color: rgb(160, 160, 160);
    letter-spacing: 1px;
    outline: none;
    padding-right: 24px;
    width: 100%;
    border: none;
    box-sizing: border-box;
}
.clearableinput_X {
    display: none;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 10 10px;
    font-style: normal;
    font-size: 190%;
    font-weight: 300;
    user-select: none;
    cursor: pointer;
}
.clearable input::-ms-clear {  /* Remove IE default X */
    display: none;
}
.clearableinput_X.box { /*for non-textboxes */
    display: block;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 0 8px;
    font-style: normal;
    font-size: 190%;
    font-weight: 300;
    user-select: none;
    cursor: pointer;
}
/*BUTTONS*/
.btn {
    text-align: center;
    width: 35%;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    padding: 10px 10px;
}
.short-txt {display: none;}
.btn:link,
.btn:visited {
    font-weight: 300;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background-color: #2cb178; 
    transition: background-color 0.2s;
    outline: none;
    border: 1px solid #2cb178;
}
.btn:hover,
.btn:active {
    background-color: #00b894;
    border: 1px solid #00b894;
    outline: none;
}

.btn-close {
    position: absolute;
    top: 27px;
    right: 80px;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease;
    opacity: 0;
    border: transparent;
}
.btn-close:active {
    opacity: 1;
}
::-webkit-input-placeholder {
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}
::-moz-input-placeholder {
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}
::-ms-input-placeholder {
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
    .full-txt {display: none;}
    .short-txt {display: block;}
}