*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: white;/*text color*/
    background-color: #212121;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 100;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden
}
/*****************************************************************************/
/*HEADER*/
header {
    background-image: linear-gradient(rgba(0,0,0,0.5), #000), url(img/headmap-img.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
/*MAP*/
#map {
    height: 100vh;
    width: 100vw;
    z-index: 0;
}