
.headmap-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
}
.headmap-text-box div { 
    float: left;
    width: 50%;
}
h1 {
    width: 100%;
    margin: 0;
    color: white;
    font-size: 240%;
    font-weight: 300;
}
.input {
    display: inline-block;
    width: 100%;
}
.clearableinput_X {
    margin-right: 15px;
}
.btn.find {
    display: inline-block;
    width: 35%;
    margin-top: 0;
    margin-left: 10px;
    font-size: 100%;
}
.short-txt {display: none;}
@media screen and (max-width: 950px) {
    .headmap-text-box{
        width: 85vw;
        margin: 10px;
        overflow: hidden;
    }
    .headmap-text-box div {width: 100%;}
    .btn.find {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }
}