
.headmap-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
}
.headmap-text-box div {
    width: 60%;
    margin-right: 10px;
}
h1 {
    width: 100%;
    margin: 0;
    color: white;
    font-size: 240%;
    font-weight: 300;
}
.short-txt {display: none;}
@media screen and (max-width: 1050px) {
    .full-txt {display: none;}
    .short-txt {display: block;}
}