<form id="login" class="login" (submit)="loginUser($event)">
    <i class="clearableinput_X box" onclick="loginfunction()">&times;</i>
    <div class="login-box">
        <div class="input">
            <input type="text" name="uname" placeholder="Username">
            <i class="clearableinput_X">&times;</i>
        </div>
        <br>
        <div class="input">
            <input type="password" name="pword" placeholder="Password">
            <i class="clearableinput_X">&times;</i>
        </div>
        <a class="btn" onclick="logoutfunction()">Login</a>
    </div>
</form>